<!--The content below is only a placeholder and can be replaced.-->
<div class="background-image-1">
  <ul>
    <li><a href="mpt">Most Played Today</a></li>
    <li><a href="apo">Amount of People Online</a></li>
    <li><a href="d&t">Date and time</a></li>
  </ul>

  <ul>
    <li><a href="cah">Comment and Annotation History</a></li>
    <li><a href="pln">Playing Now</a></li>
    <li><a href="ope">Open Ear</a></li>
  </ul>

  <nav>
    <ul>
      <li><a routerLink="dashboard">Home</a></li>
      <li><a routerLink="artists">Artists</a></li>
    </ul>
  </nav>

  <div class="center-page">
    <h1>{{ title }}</h1>
    <router-outlet></router-outlet>
    <app-messages></app-messages>
  </div>
</div>
